<div *ngIf="appState === AppState.MENU">
  <button *ngFor="let qa of questionAnswers; index as i" (click)="choseQuestionAnswer(qa)"><span class="font-familiada">ZESTAW {{i+1}}</span></button>
  <button (click)="setFinal()"><span class="font-familiada">FINAŁ</span></button>
  <button (click)="setFinalManagement()"><span class="font-familiada">FINAŁ MANAGEMENT</span></button>
</div>

<div *ngIf="appState === AppState.MENU">
  <button (click)="setAddQuestions()"><span class="font-familiada">DODAJ ZESTAW</span></button>
</div>
<app-management *ngIf="appState === AppState.MANAGEMENT && actualQuestionAnswer" [questionsAnswers]="actualQuestionAnswer"></app-management>

<app-final-view *ngIf="appState === AppState.FINAL">FINAL</app-final-view>
<app-final-management *ngIf="appState === AppState.FINAL_MANAGEMENT">FINAL MANAGEMENT</app-final-management>
<app-add-question *ngIf="appState === AppState.ADD_QUESTIONS"></app-add-question>

<div *ngIf="appState === AppState.MENU">
  <div *ngFor="let qa of questionAnswersAdded; index as i" >
    <button (click)="choseQuestionAnswer(qa)"> <span class="font-familiada">ZESTAW {{i+1}}</span></button>
    <button (click)="deleteQA(i)">><span class="font-familiada">X</span></button>
  </div>
</div>
